/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 60.13%;

}
.span_1_of_3 {
	width: 16.13%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

nav {
	background-color: black;
	color: white;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.img {
	text-align: center;
	background:url("../images/j-smith9.jpg") no-repeat;
  background-size: 31.25em 31.25em;
  background-position:-1.563em 0;
  height: 25em;
  width: 25em;
  margin: 0 auto;
  border-radius:50%;
  overflow:hidden;
  position: relative;
  margin-top: 5%;
}

.tweet {
	position: relative;
	margin-top: 7%;
}

